#block-7{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 80px;
    padding-right: 5%;
}

#image-9-container{
    max-width: 905px;
    height: auto;
    margin-right: auto;
    z-index: -2;
}
#image-9{
    width: 100%;
    height: auto;
    z-index: -2;
}
#block-7-1{
    max-width: 413px;
    position: relative;
    margin-top: 80px;
}
#block-7-info{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#image-10-container {
    position: absolute;
    left: -80px;
    top: -80px;
    width: 189px;
    height: 232px;
    background-image: url("img/10.png");
    z-index: -1;
}
#block-7-info h5{
    margin-top: 15px;
}
#block-7-info button{
    margin-top: 15px;
}
@media screen and  (max-width: 1450px){
    #block-7{
        display: flex;
        flex-direction: column;
    }
    #block-7-1{
        max-width: 100%;
        margin-left: 5%;
        margin-top: 5%;
    }
}